body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

header {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    
}

#main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

#search-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
    background-color: blue;
    border-style: solid;
    border-width: 5px;
}

#search-history {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    background-color: lightblue;
}

#search-history h2 {
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}

#result-container {
    display: inline-flex;
    font-weight: bold;
}

#hero-variants {
    background-color: blue;
    border-style: solid;
    border-width: 5px;
}

#hero-variants h2, #comic-appearance h2 {
    text-align: center;
    text-decoration: underline;
}

#comic-appearance {
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    margin-left: 10px;
}

#comic-appearance img {
    transition: transform 0.3s;
}

#comic-appearance img:hover {
    transform: scale(1.5); 
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px; 
    z-index: 1001;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    cursor: pointer;
}

#wiki-search-container {
    background-color: blue;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    position: relative;
    left: -665px;
}