* h2 , h3 , p {
    color: #ddd;
}

body {
    background-image: url('marvel-comic-background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

header {
    color: white;
    font-size: 24px;
    width: 100%;
    
}

.header-image {
    width: 100%;
    height: 200px;
}

#main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

#search-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    height: 600px;
}

#search-history {
    border: 1px solid #ccc;
    padding: 10px;
    height: 75%;
    width: 90%;
    overflow-y: auto;
    margin-top: 20px;
    background-color: lightblue;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#search-history h2 {
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}

#result-container {
    display: inline-flex;
    font-weight: bold;
}

#hero-variants {
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    filter: drop-shadow(#2B2B2B 16px 16px 5px);
}

#hero-variants p {
    padding-left: 10px;
}

#hero-variants h2, #comic-appearance h2, #wiki-results h2 {
    text-align: center;
    text-decoration: underline;
}

#comic-appearance {
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    margin-left: 50px;
    border-radius: 50px;
    filter: drop-shadow(#2B2B2B 16px 16px 5px);
}

#comic-appearance div {
    display: inline-flex;
    width: 30%;
    padding: 10px;
}

#comic-appearance img {
    transition: transform 0.3s;
}

#comic-appearance img:hover {
    transform: scale(2.5); 
}

#modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px; 
    z-index: 1001;
    background-color: darkgray;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.modal-close {
    cursor: pointer;
}

#modalBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1001;
    width: 300px; /* or whatever width you want */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#wiki-search-container {
    background-color: blue;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    position: relative;
    top: 50px;
    height: 700px;
}

#wiki-search-history {
    background-color: lightblue;
    height: 75%;
    width: 90%;
    border-style: solid;
    border-width: 5px;
}

#wiki-results-container {
    position: relative;
}

#wiki-results {
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    position: relative;
    left: 0px;
    top: 50px;
    border-radius: 50px;
    height: 500px;
    filter: drop-shadow(#2B2B2B 16px 16px 5px);
    height: 700px;
}